// utils styles
@import './utils/variables';
// @import './utils/normalize';
@import './utils/visually-hidden';
@import './utils/placeholders';
@import './utils/mixins';

// base styles
@import './base/reset';
@import './base/base';
@import './base/container';
// @import './base/';

// layout styles
@import './layouts/navigation';
@import './layouts/contacts';
@import './layouts/hero';
@import './layouts/benefits';
@import './layouts/work';
@import './layouts/team';
@import './layouts/clients';
@import './layouts/portfolio';

// components styles
@import './components/page-header';
@import './components/logo';
@import './components/menu';
@import './components/btn';
@import './components/socials';
@import './components/footer';
@import './components/address';
@import './components/backdrop';
@import './components/modal';
@import './components/close-btn';
@import './components/callback-form';
@import './components/agreement';
@import './components/subscribe-form';
@import './components/filter';
