.agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  margin-bottom: 30px;

  &__desc {
    font-size: 12px;
    user-select: none;
    line-height: decimal-round(calc(14 / 12));

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: decimal-round(calc(24 / 14));
    }
  }

  &__link {
    color: var(--primery-accent-color);
  }

  &__icon-checked {
    opacity: 0;
    fill: var(--primery-accent-color);
    transition: opacity var(--main-animation);
  }

  &__checkbox-icons {
    transition: outline var(--main-animation);
  }

  &__checkbox:checked + &__checkbox-icons &__icon-checked {
    opacity: 1;
  }

  &__icon-unchecked {
    transition: opacity var(--main-animation);
  }

  &__checkbox:checked + &__checkbox-icons &__icon-unchecked {
    opacity: 0;
  }

  &__checkbox:focus + &__checkbox-icons {
    outline: 2px solid rgb(22, 67, 190);
    outline-offset: 1px;
    border-radius: 2px;
    transition: none;
  }

  &__checkbox:hover + &__checkbox-icons {
    outline: 1px solid var(--primery-accent-color);
    outline-offset: 1px;
    border-radius: 2px;
  }
}
