.btn {
  border-radius: 4px;
  border: 1px solid transparent;
  text-align: center;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: color var(--main-animation), background-color var(--main-animation);
}
