.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;

  background-color: transparent;
  border: none;

  cursor: pointer;

  transition: fill var(--main-animation);

  &:hover,
  &:focus {
    fill: var(--primery-accent-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 40px;

  font-weight: 500;
  letter-spacing: 0.02em;
  background-color: #fff;

  transform: translateY(-100%);
  transition: transform var(--main-animation);

  &.is-open {
    transform: translateY(0);
  }
}
.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  transition: fill var(--main-animation);
}

.menu-toggle:hover,
.menu-toggle:focus {
  fill: var(--primery-accent-color);
}

// Navigations

.menu-nav {
  margin-bottom: auto;
  @media screen and (max-height: 520px) {
    margin-bottom: 32px;
  }

  &__link {
    color: var(--primery-title-color);
    font-size: 40px;
    line-height: decimal-round(calc(47 / 40));
    transition: color var(--main-animation);
  }

  &__link:hover,
  &__link:focus {
    color: var(--primery-accent-color);
  }

  &__link--current {
    color: var(--primery-accent-color);
  }

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

// Contacts

.menu-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-contact__link--numb {
  font-size: 34px;
  line-height: decimal-round(calc(40 / 34));
  color: var(--primery-accent-color);
  transition: color var(--main-animation);

  &:hover,
  &:focus {
    color: var(--primery-text-color);
  }

  @media screen and (max-width: 419px) {
    font-size: 30px;
  }
}

.menu-contact__link--mail {
  font-size: 24px;
  line-height: decimal-round(calc(28 / 24));
  color: var(--primery-text-color);
  transition: color var(--main-animation);

  &:hover,
  &:focus {
    color: var(--primery-accent-color);
  }
}

// Socials

.menu-socials__list {
  display: flex;
  margin-top: 64px;
  margin-bottom: 48px;
}

.menu-socials__item {
  font-size: 18px;
  line-height: decimal-round(calc(22 / 18));
  color: var(--primery-accent-color);
  transition: color var(--main-animation);

  &:hover,
  &:focus {
    color: var(--primery-text-color);
  }

  &:not(:last-child)::after {
    content: '';
    margin-left: 10px;

    width: 1px;
    height: 100%;
    border: 0.5px solid rgba(33, 33, 33, 0.2);
  }

  @media screen and (max-width: 419px) {
    font-size: 11px;
  }
}

.menu-socials__item:not(:last-child) {
  margin-right: 10px;
}

.menu-socials__link {
  @extend %link;
}
