.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;

  @media screen and (max-width: 479px) {
    padding: 20px;
  }

  max-width: 450px;
  max-height: 609px;

  background-color: var(--primery-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--main-animation);

  @media screen and (min-width: 1200px) {
    min-width: 528px;
    height: 581px;
  }
}
