.socials {
  &__list {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-left: 0;
    margin: 0;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    background-color: var(--primery-white-color);
    border-radius: 50%;
    transition: background-color var(--main-animation);
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: var(--logo-link-color);
    transition: fill var(--main-animation);
  }

  &__link:hover,
  &__link:focus {
    background-color: var(--primery-accent-color);
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: var(--primery-white-color);
  }

  &__icon--dark {
    fill: var(--primery-white-color);
  }
}
