body {
  background-color: #ffffff;
  color: #757575;
  font-style: normal;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  @include section;
}
