.contact {
  &__list {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  // &__list {
  //   display: flex;
  //   margin-left: auto;
  // }

  // &__item + &__item {
  //   margin-left: 50px;
  // }

  &__link {
    display: flex;
    // padding-top: 32px;
    // padding-bottom: 32px;
    gap: 10px;
    align-items: center;

    color: var(--primery-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: decimal-round(calc(16 / 14));
    letter-spacing: 0.02em;
    transition: color var(--main-animation);
  }

  &__link:hover,
  &__link:focus {
    color: var(--primery-accent-color);
  }

  &__icon {
    fill: currentColor;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &__list {
      margin-left: 90px;
    }

    &__link {
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 12px;
      line-height: decimal-round(calc(14 / 12));
    }

    &__item:nth-child(1) {
      color: red;
    }
  }

  @media screen and (min-width: 1200px) {
    &__list {
      display: flex;
      margin-left: auto;
    }

    &__item + &__item {
      margin-left: 50px;
    }

    &__link {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
}
