.contact {
  &__list {
    display: flex;
    margin-left: auto;
  }

  &__item + &__item {
    margin-left: 50px;
  }

  &__link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 10px;
    align-items: center;

    color: var(--primery-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: decimal-round(calc(16 / 14));
    letter-spacing: 0.02em;
    transition: color var(--main-animation);
  }

  &__link:hover,
  &__link:focus {
    color: var(--primery-accent-color);
  }

  &__icon {
    fill: currentColor;
  }
}
