.navigation {
  .navigation {
    display: flex;
    align-items: center;

    &__list {
      display: flex;
      margin-left: 93px;
    }

    &__item:nth-child(1) {
      margin-right: 53px;
    }

    &__item:nth-child(2) {
      margin-right: 50px;
    }

    &__link {
      position: relative;

      display: block;
      padding-top: 32px;
      padding-bottom: 32px;

      color: var(--primery-title-color);
      font-weight: 500;
      font-size: 14px;
      line-height: decimal-round(calc(16 / 14));
      letter-spacing: 0.02em;
      transition: color var(--main-animation);
    }

    &__link:hover,
    &__link:focus {
      color: var(--primery-accent-color);
    }

    &__link--current {
      color: var(--primery-accent-color);
    }

    &__link--current::after {
      content: '';

      position: absolute;
      left: 0;
      bottom: -1px;

      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--primery-accent-color);
      border-radius: 2px;
    }
  }

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &__list {
      margin-left: 88px;
    }
  }
}
