.portfolio {
  @include section;

  &__title {
    margin-bottom: 4px;

    color: var(--primery-title-color);
    font-size: 18px;
    line-height: decimal-round(calc(36 / 18));
  }

  &__desc {
    line-height: decimal-round(calc(30 / 16));
  }

  &__item {
    flex-basis: calc((100% - 60px) / 3);
  }

  &__link {
    display: block;
    transition: box-shadow var(--main-animation);
  }

  &__link:hover,
  &__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__underimg {
    padding: 20px 24px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    // width: 370px;
    min-height: 111px;
  }

  &__box {
    position: relative;
    overflow: hidden;
  }

  &__text {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform var(--main-animation);

    display: inline-block;
    padding: 63px 24px;
    content: '';

    width: 100%;
    height: 100%;
    color: var(--primery-white-color);
    font-weight: 400;
    font-size: 18px;
    line-height: decimal-round(calc(28 / 18));
  }

  &__box::before {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform var(--main-animation);
    display: inline-block;
    content: '';

    width: 100%;
    height: 100%;

    background-color: rgba(33, 150, 243, 0.9);
  }

  &__link:hover &__box::before,
  &__link:hover &__text {
    transform: translateY(0);
  }

  &__link:focus &__box::before,
  &__link:focus &__text {
    transform: translateY(0);
  }
  @media screen and (max-width: 767px) {
    &__item:not(:last-child) {
      margin-bottom: 30px;
    }
    &__img {
      width: 450px;
      height: 294px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &__img {
      width: 354px;
      height: 294px;
    }

    &__title {
      padding-right: 25px;
    }

    &__underimg--mb {
      padding-bottom: 56px;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }

    &__item {
      flex-basis: calc((100% - 30px) / 2);
    }
  }

  @media screen and (min-width: 1200px) {
    @include section(94px, 94px);

    &__img {
      width: 370px;
      height: 294px;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
  }
}
