.team {
  @include section;

  background: #f5f4fa;

  &__title {
    margin-bottom: 30px;

    color: var(--primery-title-color);
    font-size: 28px;
    line-height: decimal-round(calc(33 / 28));
    text-align: center;
  }

  &__list {
    display: flex;
  }

  &__img {
    width: 450px;
    height: 460px;
  }

  &__box {
    background-color: var(--primery-white-color);
    padding-top: 30px;
    padding-bottom: 24px;
  }

  &__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__name {
    margin-bottom: 10px;
    color: var(--primery-title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: decimal-round(calc(19 / 16));
    text-align: center;
  }

  &__desc {
    line-height: decimal-round(calc(19 / 16));
    text-align: center;
    margin-bottom: 16px;
  }

  @media screen and (max-width: 1199px) {
    &__list {
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &__img {
      width: 354px;
      height: 374px;
    }
  }

  @media screen and (min-width: 1200px) {
    @include section(94px, 94px);

    &__title {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: decimal-round(calc(42 / 36));
    }

    &__item:not(:last-child) {
      margin-right: 30px;
      align-items: center;
    }

    &__img {
      width: 270px;
      height: 260px;
    }

    &__box {
      padding-bottom: 30px;
    }
  }
}
