.work {
  @include section;

  @media screen and (min-width: 1200px) {
    @include section(0px, 94px);
  }

  &__title {
    margin-bottom: 50px;

    color: var(--primery-title-color);
    font-size: 36px;
    line-height: decimal-round(calc(42 / 36));
    text-align: center;
  }

  &__list {
    display: flex;
  }

  &__item {
    position: relative;
  }

  &__item + &__item {
    margin-left: 30px;
    align-items: center;
  }

  &__item::before {
    display: inline-block;
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
  }

  &__desc {
    position: absolute;
    bottom: 27px;
    left: 50%;
    display: inline-block;
    content: '';
    transform: translate(-50%, 0);

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primery-white-color);
  }

  @media screen and (max-width: 1199px) {
    display: none;
  }
}
